.bag {
	font-size: 20px;
	color: #3465a4;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.bag li {
	margin: 5px;
}

.RegisterData {
	margin: 10px;
	text-align: center;
}

.RegisterData label {
	color: black;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
	font-family: 'Audiowide';
	font-size: 30px;
}

.RegisterData input {
	width: 25%;
	border: 1px solid black;
	margin: auto;
	color: black;
	
}

.RegisterData button {
	display: block;
	margin: auto;
	background: linear-gradient(#3465a4, white);
	border: 1px solid black;
	cursor: pointer;
	padding: 15px;
	width: 25%;
	margin-bottom: 10px;
	font-family: 'Audiowide';
	font-size: 15px;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.RegisterData button:hover {
	background: linear-gradient(white, #3465a4);
	color: white;
	left: .1em;
}