.bag {
	font-size:20px; 
	color:#3465a4;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.GoBack{
	margin: 50px;
	background: linear-gradient(white,#3465a4);
	font-family: 'Audiowide';
	border:1px solid black;
	font-size:15px;
}
.GoBack:hover{
	background: linear-gradient(gray,white);
	left: .1em;
}
